.container_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .informacion {
    width: 30%; 
    margin-bottom: 20px;
  }
  
  .card_personajes {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e8ecee, #c3c7c8);
    box-shadow:  20px 20px 32px #a9acad,
             -20px -20px 32px #ffffff;
  }
  
  .img_api {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  
  .title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .aleatorio {
    margin-top: 10px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }